.checkout{
    display: flex;
    margin-top:100px;
    padding: 20px;
    height:max-content;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.checkoutProduct{
    display: flex;
    margin-top:80px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.checkoutProduct img{
    width:180px;
    height:180px;
    object-fit: contain;
}
 .checkoutProduct__rating{
    display: flex;
} 
.checkoutProduct button{
    margin-top:20px;
    padding:10px;
    border:1px solid lightgray;
    outline:none;
    background-color: orange;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor:pointer;
}
.checkoutProduct button:hover{
    transform: scale(1.09);
}
.checkoutProduct__title{
    font-weight: 800;
    font-size: 25px;
}
.checkoutProduct__price{
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 20px;
}