
.header{
    background-color: #b01096;
    color:white;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 100;

}
.header img{
    width:60px;
    color:white;
    margin:10px;
   
}
.header__searchInput{
    height:20px;
    padding:5px;
    width: 100%;
   outline: none;
}
.header__searchIcon{
    background-color:orange;
    cursor: pointer;
    padding: 6px;
    height: 22px!important;
    
}
.header__search{
    display: flex;
    flex: 1;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
    
   
}
.line__2{
    font-size:18px;
    font-weight: 800;
}
.line__1{
    font-size:15px;
}

.header__link{
    color:white;
    text-decoration: none;

}
.header__optionIcon{
    display: flex;
    align-items: center;
    

}
.header__basketCount{
    margin-left: 5px;
    margin-right: 5px;
}